:root {
  --transition-speed: 250ms
}

.slider-wrapper {
  overflow-x: hidden;
}

.slider-wrapper * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slider-container {
  height: 100vh;
  display: inline-flex;
  overflow: hidden;
  scrollbar-width: none;
  transform: translateX(0);
  will-change: transform;
  transition: transform var(--transition-speed) ease-out;
  cursor: grab;
}

.slide {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  transition: transform var(--transition-speed) ease-in-out;
  user-select: none;
  /* object-fit: cover; */
}

.grabbing {
  cursor: grabbing;
}

.grabbing .slide img {
  transform: scale(0.97);
}




